In [1]:
import pandas as pd
import numpy as np


import warnings
warnings.filterwarnings('ignore')

In [2]:
# getting data set

df= pd.read_csv('https://raw.githubusercontent.com/training-ml/Files/main/raw_data.csv')

df.head()

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,NaN,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0

In [3]:
# dimension
df.shape

(20, 9)

In [4]:
# information about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  19 non-null     float64
 1   Employee Full Name  19 non-null     object
 2   DOB                 19 non-null     object
 3   email               17 non-null     object
 4   gender              19 non-null     object
 5   Company             19 non-null     object
 6   Country             17 non-null     object
 7   Income.1            15 non-null     object
 8   Income.2            17 non-null     float64
dtypes: float64(2), object(7)
memory usage: 1.5+ KB

We can see that some of the data is missing in email, Country, Income.1, Income.2

Most of our columns are object data type except id and Income.2

Let's see entire dataset once before moving forward with this data set.

In [5]:
# checking entire dataset
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,NaN,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,NaN,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,$28602.4353770562,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

As we can see that index 9 has all null values. So we need to fill them with provided data. Also Income.1 is having numerical values with $ on it which makes them categorical column. 

Q1. Add Below information as index 9.

210, 'Jim Carry', 1/1/1970, 'jim.carry@gmail.com', 'Male', 'Amazon', 'USA', 12349.556, 2365

In [6]:
df.loc[9]= (210, 'Jim Carry', '1/1/1970','jim.carry@gmail.com', 'Male', 'Amazon','USA','$12349.556', 2365)

df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,NaN,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,NaN,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,$28602.4353770562,NaN
9,210.0,Jim Carry,1/1/1970,jim.carry@gmail.com,Male,Amazon,USA,$12349.556,2365.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [7]:
#Q2.add email at 3rd and 6th index position 'graeme.croisier@gmail.com', 'modesta.batterson@gmail.com' respectively

df.at[3, 'email'] ='graeme.croisier@gmai.com'
df.at[6, 'email'] = 'modesta.batterson@gmail.com'

df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,graeme.croisier@gmai.com,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,$28602.4353770562,NaN
9,210.0,Jim Carry,1/1/1970,jim.carry@gmail.com,Male,Amazon,USA,$12349.556,2365.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [8]:
# Q3. If any country is invalid change it to valid country and also fill nan

df['Country'].unique()

array(['India', 'USA', 'UAS', 'Canada', nan, 'Russia'], dtype=object)

we can see UAS looks like its a typo error, so we change it to USA. also we have nan so we can fill it with mode of this column as it is an categorical column.

In [9]:
# replacing UAS to USA
df['Country'].replace({'UAS': 'USA'}, inplace= True)
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,graeme.croisier@gmai.com,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,$28602.4353770562,NaN
9,210.0,Jim Carry,1/1/1970,jim.carry@gmail.com,Male,Amazon,USA,$12349.556,2365.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [10]:
# replacing Nan with mode value
df['Country'].fillna(value= df['Country'].mode()[0], inplace=True)

df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,graeme.croisier@gmai.com,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,$28602.4353770562,NaN
9,210.0,Jim Carry,1/1/1970,jim.carry@gmail.com,Male,Amazon,USA,$12349.556,2365.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0